<section class="bg-dark py-5" id="brand-banner">
  <div class="row container px-4 px-lg-5 my-5">
    <div class="text-center text-white col-log-6 col-md-4 col-sm-2">
      <h1 class="display-4 fw-bolder">Welcome to Our Website</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Discover amazing products and services
      </p>
    </div>
  </div>
</section>
