<header class="main-header">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a href="" class="navbar-brand mb-0 h1">
        <img class="d-inline-block align-top" src="/assets/imgs/brand-icon.png" alt="Brand icon" width="30px" height="30px">
        Lazppe
      </a>
      <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link">
              </i>Home
            </a>
          </li>
          <li class="nav-item active">
            <a href="/about" class="nav-link">
              </i>About
            </a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <i class="bi bi-person-circle">
              </i>Log in
            </a>
          </li>

          <li class="nav-item active">
            <a href="#" class="nav-link">
              <i class="bi bi-cart"></i>
              </i>Cart(0)
            </a>
          </li>
        </ul>
      </div>
  </div>