body {
    background-color: #EFECEC;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: white;
}

.price-input-form {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
    justify-content: center;
    flex-direction: column;
}

.sidebar-wrapper{
    overflow-y: auto;
    max-height: 300px;
   }