body {
  height: 100%;
  min-height: 100%;
  background-color: #efecec;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: white;
}

.price-input-form {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
  justify-content: center;
  flex-direction: column;
}

.sidebar-wrapper {
  overflow-y: auto;
  max-height: 300px;
}

#brand-banner {
  background-image: url("../assets/imgs/brand-banner.jpg");
  background-size: cover;
}

/*------test price control-----*/
.slidecontainer {
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #28d7b4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #28d7b4;
  cursor: pointer;
}
#demo {
  position: relative;
  padding: auto;
}
/*-----------search bar---------*/
.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

#search-box,
#search-button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  background-color: #28d7b4;
  border-radius: 20px;
  box-shadow: 0 10px 40px #28d7b4, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
  margin-bottom: 5px;
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #ffffff;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

#search-button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

#search-button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

#search-button span:before,
#search-button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}

/*------product Detail2------*/
.card {
  border: none;
}
.product {
  background-color: #eee;
}
.brand {
  font-size: 13px;
}
.act-price {
  color: red;
  font-weight: 600;
  font-size: 20px;
}
.dis-price {
  text-decoration: line-through;
}
.about {
  font-size: 16px;
}
.color {
  margin-bottom: 10px;
}
label.radio {
  cursor: pointer;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 2px 9px;
  border: 2px solid #28d7b4;
  display: inline-block;
  color: #3b76ce;
  border-radius: 3px;
  text-transform: uppercase;
}
label.radio input:checked + span {
  border-color: #28d7b4;
  background-color: #28d7b4;
  color: #fcfcfc;
}
.btn-danger {
  background-color: #28d7b4 !important;
  border-color: #28d7b4 !important;
}
.btn-danger:hover {
  background-color: #28d7b4 !important;
  border-color: #28d7b4 !important;
}
.btn-danger:focus {
  box-shadow: none;
}
.cart i {
  margin-right: 10px;
}

/*------Shopping cart-------*/
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .bg-grey {
  background-color: #eae8e8;
  }
  
  @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
  
  @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }

/*------payment-----*/
